<body>
    <div id="page">
        

                    <article id="post-215" class="post-215 category-people category-photography category-pretty-girls entry box format-image">
                        <div class="entry-content-cnt">
                            <div class="entry-content">
                                <a href="images/dummy/Fotolia_34084826_Subscription_XL-680x1024.jpg" class="thumb" data-lightbox="fancybox[215]" title=""><img src="images/dummy/Fotolia_34084826_Subscription_XL-500x752.jpg" class="attachment-ci_listing_thumb" alt="High fashion model in autumn/winter clothes wearing sunglasses" title="High fashion model in autumn/winter clothes wearing sunglasses"></a>
                            </div>
                        </div>

                    </div><!-- #entry-listing -->

                    <div class="nav">
                        <a id="nextpage" href="content1.html">Next Page</a>
                    </div>
              
</body>
</html>